@model ConsultarImagemViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-controller="images" asp-action="create">
        <h1 class="display-4">Gerador de Imagens</h1>
        <p>Aqui você descrever a imagem, utilize o máximo possível de informações, inclusive a quantidade de arquivos que serão gerados</p>

        <div class="dadosConsulta">
             <div class="row">
                <div class="form-group col-lg-10 col-md-10 col-sm-10 col-xs-12">
                    <label asp-for="title" class="control-label left"></label>
                    <input asp-for="title" class="form-control"/>
                    <span asp-validation-for="title" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <label asp-for="qty" class="control-label left"></label>
                    <input asp-for="qty" type="number" min="1" max="10" class="form-control" />
                    <span asp-validation-for="qty" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <label asp-for="save" class="control-label left"></label>
                    <input type="radio" asp-for="save" value="true">
                    <span asp-validation-for="save" class="text-danger"></span>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="btnPesquisar" type="submit"> Pesquisar </button>
            </div>
        </div>
    </form>
</div>
